.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;

  @media (min-width: @grid-float-breakpoint) {
    border-radius: @navbar-border-radius;
  }
}

.jumbotron {
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: inherit;
  background-color: #ecf0f1;
}
